
@model List<EPUAT.Models.CTDathang>

@{
    Layout = null;
    Layout = "~/Areas/Admin/Views/Shared/ViewPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <div style="position: absolute; width: 1200px; right: 10px">
            <h2>Quản lý đơn hàng</h2>
            @using (Html.BeginForm("Search", "ThongKe", FormMethod.Get))
            {
                @*<label>Lọc theo danh mục: </label>
                    <div>
                        @Html.DropDownList("category", "-- Tất cả --")
                    </div>*@
                <label>Lọc theo tên: </label>
                <div style="padding:20px 20px 20px 0px;display:flex">
                    <div>
                        @Html.TextBox("Search")
                    </div>
                    <div><input type="submit" value="Lọc" /></div>
                </div>
            }
            <table class="table">
                <thead class="thead-dark" style="background-color: #000000d9;color: aliceblue;">
                    <th>Mã CT Phiếu Đặt</th>
                    <th>Mã Phiếu Đặt </th>
                    <th>Mã sản phẩm </th>
                    <th>Số lượng </th>mm
                    <th>Thành tiền </th>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MaCTPhieuDat</td>
                        <td>@item.MaPhieuDat</td>
                        <td>@item.Id</td>
                        <td>@item.Soluong</td>
                        <td>@item.ThanhTien</td>
                        @*<td>
                            @Html.ActionLink("Sửa", "Edit", new { MaCTPhieuDat = item.MaCTPhieuDat })
                            @Html.ActionLink("Xóa", "Delete", new { MaCTPhieuDat = item.MaCTPhieuDat })
                        </td>*@
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>

